/* * {
    border: 1px solid red;
} */

header {
    background-color: rgba(43, 60, 77, 1);
}

ul li {
    list-style-type: none;
}

section.back_color:nth-child(odd) {
    background-color: rgba(26, 188, 156, 1);
}

.line {
    height: 3px;
    width: 80px;
}

.avatar {
    width: 300px;
}

.back_color_light {
    background-color: rgba(58, 84, 109, 1);
}

.color_text {
    color: rgba(26, 188, 156, 1);
}

.back_color_dark {
    background-color: rgba(44, 62, 80, 1);
}

.back_send {
    background-color: rgba(26, 188, 156, 1);
}