/* * {
    border: 1px solid red;
} */

header {
    background-color: rgba(43, 60, 77, 1);
}

ul li {
    list-style-type: none;
}

section.back_color:nth-child(odd) {
    background-color: rgba(26, 188, 156, 1);
}

.line {
    height: 3px;
    width: 80px;
}

figure {
    width: 300px;
}